<h2><%= @author.name %></h2><a href="/author/<%= @author.id %>/edit">Edit</a>
<table class="table table-striped">
  <tr>
    <td>Books:</td>
    <td>
      <ul>
        <% @author.books.each() do |book| %>
          <li><a href="/book/<%= book.id %>"><%= book.title %></a></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <form action="/author/<%= @author.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-danger btn-sm" type="submit">Delete Author</button>
      </form>
    </td>
  </tr>
</table>
