<h2><%= @book.title %></h2>
<% if @success_message != nil %>
  <div class="alert alert-success">
    <%= @success_message %>
  </div>
<% end %>
<table class="table table-striped">
  <tr>
    <td>Authors:</td>
    <td>
      <ul>
        <% @book.authors.each() do |author| %>
          <li><a href="/author/<%= author.id %>"><%= author.name %></a></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Available:</td>
    <td><% if @book.checked_out? %>Due back: <%= @book.due_date %><% else %><a href="/checkout/<%= @book.id %>">Check this book out</a><% end %></td>
  </tr>
  <tr>
    <td><% if @book.checked_out? %><a href="/book/<%= @book.id %>/return">Return This Book</a><% end %></td>
    <td><a href="/book/<%= @book.id %>/delete">Delete Book</a></td>
  </tr>
</table>
