<% if @success_message != nil %>
  <div class="alert alert-success">
    <%= @success_message %>
  </div>
<% end %>
<h3>All <%= @page_title %>Books</h3>
<% if @books.any?() %>
<table class="table table-hover">
  <tr>
    <th width="40%">
      Title
    </th>
    <th width="40%">
      Author
    </th>
    <th class="text-right" width="20%">
      Availability
    </th>
  </tr>
  <% @books.each do |book|%>
    <tr<% if book.checked_out? %>class="active"<% end %>>
      <td><a href="/book/<%= book.id %>"><%= book.title %></a></td>
      <td><a href="/author/<%= book.authors.first.id %>"><%= book.authors.first.name %></a></td>
      <td class="text-right"><% if book.checked_out?%>Checked-out<% else %>Available<% end %></td>
    </tr>
  <% end %>
</table>
<% else %>
<h3><% if @page_title == "" %>No books have been added to the library. You can <a href="/book/add">add a book here</a>.<% else %>No books are available.<% end %></h3>
<% end %>
